.topbar{
  
    background-color:black;
   
    overflow: hidden;
}
.topbar a{
    font-size: 17px;
    float: left;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 14px 28px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.topbar a:hover{
    
    color: red;
}
.topbar a.active{
    color:red ;
}